quorum-1.0.0

# Ignore kseq utility stuff
kseq/Makefile
kseq/kseq.tar.bz2
kseq/kseq_test.c
kseq/test.seq
kseq/kseq_test

# ignore temporary files in testdata/
r1.fq
r2.fq

# osx symbols
*.dSYM
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
jmers
